html {
    height: 100%;
}
body {
    min-height: 100%;
    max-height: 100%;
    display: grid;
    background-color: rgb(255, 250, 200);
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    margin: 0;
    font-family: "Julius Sans One", sans-serif;
}

h1, h2 {
    text-align: center;
    color: #660c2b;
    align-items: start;
}

h1 {
    font-family: "Cherry Swash", cursive;
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 10px auto;
    font-size: 1.5rem;
}

h3 {
    font-family: "Cherry Swash", cursive;
    color: rgba(181, 243, 81, 0.692);
    font-size: 1.4em;
}

main {
    align-items: center;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    align-content: space-around;
}

.hidden {
    visibility: hidden;
}

.game-and-modal {
    width: 710px;
    height: 360px;
    margin: 0 auto;
    position: relative;
    padding: 0;
}

#start-modal {
    width: 700px;
    padding: 5px;
    height: 350px;
    position: absolute;
    top: 0;
    background: #7C313D;
}

.modal-content {
    padding: 2%;
    text-align: center;
    color:  rgb(214, 255, 214);
    line-height: 1.4em;
    letter-spacing: .2em;
}

canvas {
    border: 5px solid rgb(124, 49, 61);
    margin: 0 auto;
}

#start {
    height: 50px;
    width: 350px;
    font-size: 1.2em;
    font-weight: bolder;
    background: #7C313D;
    border-color: #7C313D;
    color:  rgb(214, 255, 214);
    margin: 0 auto;
    position: relative;
    font-family: "Julius Sans One", sans-serif;
}

.score-card {
    margin: 0 auto;
    width: 350px;
    text-align: center;
    list-style-position: inside;
}

.score-item {
    margin: 3px;
}

footer { 
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    background: rgba(60, 102, 12, 0.384);
}

.made-by {
    text-align: right;
    padding: 0 5px;
}

.social-media {
    text-align: left;
    padding: 5px 5px;
}

img {
    height: 1.3em;
}

.icon {
    align-self: center;
    justify-self: center;
}

.name {
    font-weight: 800;
}